/* =============================================================================
   Custom Fonts
   ========================================================================== */

@font-face {
    font-family: 'BertholdBaskervilleRegular';
    src: url('../fonts/berthold_baskerville_regular-webfont.eot');
    src: url('../fonts/berthold_baskerville_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/berthold_baskerville_regular-webfont.woff') format('woff'),
         url('../fonts/berthold_baskerville_regular-webfont.ttf') format('truetype'),
         url('../fonts/berthold_baskerville_regular-webfont.svg#BertholdBaskervilleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}