/* =============================================================================
   Custom Fonts
   ========================================================================== */

@font-face {
    font-family: 'bvregular';
    src: url('../fonts/bv.eot');
    src: url('../fonts/bv.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bv.woff') format('woff'),
         url('../fonts/bv.ttf') format('truetype'),
         url('../fonts/bv.svg#bvregular') format('svg');
    font-weight: normal;
    font-style: normal;

}