/* =============================================================================
   Layout
   ========================================================================== */

$dim-site-width: 960px;
$font-headers: 'BertholdBaskervilleRegular', 'Trebuchet MS', 'Times New Roman', sans-serif;


body {
    width: 100%;
    height: 512px;
    background-color: $color-background;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
}

#container {
    position: relative;
    width: $dim-site-width;
    left: 50%;
    margin-left: -$dim-site-width/2;
}

header {
    margin-top: 50px;
    font-family: $font-headers;
    
    h1, h2 {
        font-weight: lighter;
        letter-spacing: -2px;
        color: $color-font-header;
    }
    
    h2 {
        color: lighten($color-font-header, 50%);
    }
}